<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html class="supernova"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- <link rel="alternate" type="application/json+oembed" href="https://www.jotform.com/oembed/?format=json&amp;url=https%3A%2F%2Fform.jotform.com%2F230387554695569" title="oEmbed Form">
<link rel="alternate" type="text/xml+oembed" href="https://www.jotform.com/oembed/?format=xml&amp;url=https%3A%2F%2Fform.jotform.com%2F230387554695569" title="oEmbed Form"> -->
<!-- <meta property="og:title" content="Fancy Envelope Contact Form" >
<meta property="og:url" content="https://form.jotform.com/230387554695569" >
<meta property="og:description" content="Please click the link to complete this form." > -->
<!-- <meta name="slack-app-id" content="AHNMASS8M"> -->
<meta property="og:image" content="https://www.jotform.com/uploads/guest_216d5e6964b56054/form_files/logo.63e44ee65b9bc2.67268670.png" />
<meta property="og:image" content="https://cdn.jotfor.ms/assets/img/landing/opengraph.png" />
<meta property="og:image" content="https://cdn.jotfor.ms/assets/img/favicons/favicon-2021-light%402x.png" />
<link rel="shortcut icon" href="main.css/logo.png">
<!-- <link rel="canonical" href="https://form.jotform.com/230387554695569" /> -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1" />
<meta name="HandheldFriendly" content="true" />
<title>Contact Me</title>
<style type="text/css">@media print{.form-section{display:inline!important}.form-pagebreak{display:none!important}.form-section-closed{height:auto!important}.page-section{position:initial!important}}</style>
<link id="custom-font" type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/opt/google-fonts/Roboto/fontface.css" />
<link type="text/css" rel="stylesheet" href="https://cdn01.jotfor.ms/themes/CSS/5e6b428acc8c4e222d1beb91.css?themeRevisionID=63763808623532087895e4de"/>
<link type="text/css" rel="stylesheet" href="https://cdn02.jotfor.ms/css/styles/payment/payment_styles.css?3.3.39160" />
<link type="text/css" rel="stylesheet" href="https://cdn03.jotfor.ms/css/styles/payment/payment_feature.css?3.3.39160" />
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="http://localhost:3000/style.css">
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<link rel="stylesheet" href="services.css">

<style type="text/css" id="form-designer-style">
    /* Injected CSS Code */

  
  /*PREFERENCES STYLE*/
  /* NEW THEME STYLE */

  /* colors */

  .form-textbox, .form-textarea {
    color: undefined;
  }
  .FITB-inptCont .form-textbox, .FITB-inptCont .form-dropdown,
  span.FITB-inptCont[data-type=selectbox] select,
  span.FITB-inptCont[data-type=timebox] select {
    color: #000000;
  }
  .rating-item input:hover+label {
    color: #2e69ff;
  }
  li[data-type=control_fileupload] .qq-upload-button,
  .until-text,
  .form-submit-reset {
    color: #2c3345;
  }

  .stageEmpty,
  .btn-barebone,
  .formPage-stuff,
  .scrollToTop .scrollToTop-text {
    color: #6F76A7;
  }
  .scrollToTop svg {
    fill: #6F76A7;
  }
  .rating-item label {
    color: rgba(195, 202, 216, 0.75);
  }
  .currentDate,
  .pickerItem select,
  .appointmentCalendar .calendarDay,
  .calendar.popup th,
  .calendar.popup table tbody td,
  .calendar-new-header>*,
  .form-collapse-table {
    color: #000000;
  }
  .appointmentCalendar .dayOfWeek {
    color: #2e69ff;
  }
  .appointmentSlotsContainer > * {
    color: #2e69ff;
  }
  li[data-type=control_fileupload] .jfUpload-heading,
  ::placeholder,
  .form-dropdown.is-active,
  .form-dropdown:first-child,
  .form-spinner-input {
    color: #57647e;
  }
  .appointmentCalendar .calendarWeek .calendarDay.isUnavailable,
  .calendar tr.days td.otherDay,
  .calendar tr.days td:hover:not(.unselectable) {
    color: #CAD0CF;
  }
  span.form-sub-label, label.form-sub-label, div.form-header-group .form-subHeader,
  .rating-item-title.for-to > label:first-child,
  .rating-item-title.for-from > label:first-child,
  .rating-item-title .editor-container * {
    color: #57647e;
  }
  .form-pagebreak-back{
    color: #2c3345;
  }
  .rating-item input:checked+label,
  .rating-item input:focus+label {
    color: #FFFFFF;
  }
  .clear-pad-btn {
    color: #57647e;
  }
  .form-textbox::placeholder,
  .form-dropdown:not(.time-dropdown):not(:required),
  .form-dropdown:not(:required),
  .form-dropdown:required:invalid {
    color: #57647e;
  }
  /* border-colors */
  .form-dropdown,
  .form-textarea,
  .form-textbox,
  li[data-type=control_fileupload] .qq-upload-button,
  .rating-item label,
  .rating-item input:focus+label,
  .rating-item input:checked+label,
  .jf-form-buttons,
  .form-checkbox+label:before, .form-checkbox+span:before, .form-radio+label:before, .form-radio+span:before,
  .signature-pad-passive,
  .signature-wrapper,
  .appointmentCalendarContainer,
  .appointmentField .timezonePickerName,
  .appointmentDayPickerButton,
  .appointmentCalendarContainer .monthYearPicker .pickerItem+.pickerItem,
  .appointmentCalendarContainer .monthYearPicker,
  .appointmentCalendar .calendarDay.isActive .calendarDayEach, .appointmentCalendar .calendarDay.isToday .calendarDayEach, .appointmentCalendar .calendarDay:not(.empty):hover .calendarDayEach,
  .calendar.popup:before,
  .calendar-new-month,
  .form-matrix-column-headers, .form-matrix-table td, .form-matrix-table td:last-child,
  .form-matrix-table th, .form-matrix-table th:last-child, .form-matrix-table tr:last-child td, .form-matrix-table tr:last-child th, .form-matrix-table tr:not([role=group])+tr[role=group] th,
  .form-matrix-headers.form-matrix-column-headers,
  .isSelected .form-matrix-column-headers:nth-last-of-type(2),
  li[data-type=control_inline] input[type=email], li[data-type=control_inline] input[type=number],
  li[data-type=control_inline] input[type=tel], li[data-type=control_inline] input[type=text] {
    border-color: rgba(195, 202, 216, 0.75);
  }
  .stageEmpty,
  .form-page-break:before,
  .welcome-page-break:before,
  .thankyou-page-break:before,
  .form-cover-break:before,
  .form-page-break:after,
  .welcome-page-break:after,
  .thankyou-page-break:after,
  .form-cover-break:after {
    border-color: #C8CEED;
  }

  .rating-item input:hover+label {
    border-color: #2e69ff;
  }
  .appointmentSlot,
  .form-checkbox:checked+label:before, .form-checkbox:checked+span:before, .form-checkbox:checked+span label:before,
  .form-radio:checked+label:before, .form-radio:checked+span:before,
  .form-dropdown:focus, .form-textarea:focus, .form-textbox:focus, .signature-wrapper:focus,
  .form-line[data-payment="true"] .form-product-item .p_checkbox .checked,
  .form-dropdown:hover, .form-textarea:hover, .form-textbox:hover, .signature-wrapper:hover {
    border-color: #2e69ff;
  }

  .calendar tr.days td:hover:not(.unselectable):after {
    border-color: #e5eaf4;
  }
  .form-header-group,
  .form-buttons-wrapper, .form-pagebreak, .form-submit-clear-wrapper,
  .form-pagebreak-next,
  .form-pagebreak-back,
  .form-checkbox:hover+label:before, .form-checkbox:hover+span:before, .form-radio:hover+label:before, .form-radio:hover+span:before,
  .divider {
    border-color: #FFFFFF;
  }
  .form-pagebreak-back:focus, .form-pagebreak-next:focus, .form-submit-button:focus {
    border-color: rgba(46, 105, 255, 1);
  }
  /* background-colors */
  .form-line-active {
    background-color: #F1F5FF;
  }
  .stageEmpty {
    background-color:  #FFFFFF;
  }
  .form-line-error {
    background-color: #FFD6D6;
  }
  .form-matrix-column-headers, .form-matrix-row-headers,
  .form-spinner-button-container>*,
  .form-collapse-table,
  .form-collapse-table:hover,
  .appointmentDayPickerButton {
    background-color: #e5eaf4;
  }
  .calendar.popup, .calendar.popup table,
  .calendar.popup table tbody td:after{
    background-color: #FFFFFF;
  }

  .appointmentCalendar .calendarDay.isActive .calendarDayEach,
  .appointmentFieldRow.forSelectedDate,
  .calendar.popup tr.days td.selected:after,
  .calendar.popup:after,
  .submit-button,
  .form-checkbox:checked+label:before, .form-checkbox:checked+span:before, .form-checkbox:checked+span label:before,
  .form-radio+label:after, .form-radio+span:after,
  .rating-item input:checked+label,
  .appointmentCalendar .calendarDay:after,
  .form-line[data-payment="true"] .form-product-item .p_checkbox .checked,
  .rating-item input:focus+label,
  .formPage-removePage:hover,
  .btn-barebone:hover, .btn-barebone:active {
    background-color: #2e69ff;
  }
  .appointmentSlot.active {
    background-color: #2e69ff !important;
  }
  .clear-pad-btn,
  .appointmentCalendar .dayOfWeek,
  .calendar.popup th {
    background-color: #eef3ff !important;
  }
  .appointmentField .timezonePicker:hover+.timezonePickerName,
  .form-spinner-button-container>*:hover {
    background-color: #eef3ff;
  }
  .form-matrix-values,
  .form-matrix-values,
  .signature-wrapper,
  .signature-pad-passive,
  .rating-item label,
  .form-checkbox+label:before, .form-checkbox+span:before,
  .form-radio+label:before, .form-radio+span:before {
    background-color: #FFFFFF;
  }
  li[data-type=control_fileupload] .qq-upload-button {
    background-color: #fbfcff;
  }
  .JotFormBuilder .appContainer #app li.form-line[data-type=control_matrix].isSelected
  .questionLine-editButton.forRemove:after,
  .JotFormBuilder .appContainer #app li.form-line[data-type=control_matrix].isSelected .questionLine-editButton.forRemove:before {
    background-color: #FFFFFF;
  }
  .appointmentCalendarContainer, .appointmentSlot,
  .rating-item-title.for-to > label:first-child,
  .rating-item-title.for-from > label:first-child,
  .rating-item-title .editor-container *,
  .calendar-opened {
    background-color: transparent;
  }
  .page-section li.form-line-active[data-type="control_button"] {
    background-color: #F1F5FF;
  }
  .appointmentCalendar .calendarDay.isSelected:after {
    color: #FFFFFF;
  }
  /* shadow */
 
  .form-dropdown:focus, .form-textarea:focus, .form-textbox:focus, .signature-wrapper:focus,
  li[data-type=control_fileupload] .qq-upload-button-focus,
  .form-checkbox:focus+label:before, .form-checkbox:focus+span:before, .form-radio:focus+label:before, .form-radio:focus+span:before,
  .calendar.popup:before {
    border-color: rgba(46, 105, 255, 1);
    box-shadow: 0 0 0 3px rgba(201, 216, 254, 0.25);
  }
  .calendar.popup table tbody td{
    box-shadow: none;
  }

  /* button colors */
  .submit-button {
    background-color: #18BD5B;
    border-color: #18BD5B;
  }
  .submit-button:hover {
    background-color: #16AA52;
    border-color: #16AA52;
  }
  .form-pagebreak-next {
    background-color: #2e69ff;
  }
  .form-pagebreak-back {
    background-color: #e5e7f2;
  }
  .form-pagebreak-back:hover {
    background-color: #CED0DA;
    border-color: #CED0DA;
  }
  .form-pagebreak-next:hover {
    background-color: #2554CC;
    border-color: #2554CC;
  }
  .form-sacl-button, .form-submit-print {
    background-color: transparent;
    color: #2c3345;
    border-color: rgba(195, 202, 216, 0.75);
  }
  .form-sacl-button:hover, .form-submit-print:hover,
  .appointmentSlot:not(.disabled):not(.active):hover,
  .appointmentDayPickerButton:hover,
  .rating-item input:hover+label {
    background-color: #96B4FF;
  }

  /* payment styles */

  

  /* icons */
 
  /* NEW THEME STYLE */
  /*PREFERENCES STYLE*//*PREFERENCES STYLE*/
    .form-all {
      font-family: Roboto, sans-serif;
    }
    .form-all .qq-upload-button,
    .form-all .form-submit-button,
    .form-all .form-submit-reset,
    .form-all .form-submit-print {
      font-family: Roboto, sans-serif;
    }
    .form-all .form-pagebreak-back-container,
    .form-all .form-pagebreak-next-container {
      font-family: Roboto, sans-serif;
    }
    .form-header-group {
      font-family: Roboto, sans-serif;
    }
    .form-label {
      font-family: Roboto, sans-serif;
    }
  
    .form-label.form-label-auto {
      
    display: block;
    float: none;
    text-align: left;
    width: 100%;
  
    }
  
    .form-line {
      margin-top: 12px;
      margin-bottom: 12px;
    }
  
    .form-all {
      max-width: 752px;
      width: 100%;
    }
  
    .form-label.form-label-left,
    .form-label.form-label-right,
    .form-label.form-label-left.form-label-auto,
    .form-label.form-label-right.form-label-auto {
      width: 330px;
    }
  
    .form-all {
      font-size: 16px
    }
    .form-all .qq-upload-button,
    .form-all .qq-upload-button,
    .form-all .form-submit-button,
    .form-all .form-submit-reset,
    .form-all .form-submit-print {
      font-size: 16px
    }
    .form-all .form-pagebreak-back-container,
    .form-all .form-pagebreak-next-container {
      font-size: 16px
    }
  
    .supernova .form-all, .form-all {
      background-color: #FFFFFF;
    }
  
    .form-all {
      color: #000000;
    }
    .form-header-group .form-header {
      color: #000000;
    }
    .form-header-group .form-subHeader {
      color: #000000;
    }
    .form-label-top,
    .form-label-left,
    .form-label-right,
    .form-html,
    .form-checkbox-item label,
    .form-radio-item label,
    span.FITB .qb-checkbox-label,
    span.FITB .qb-radiobox-label,
    span.FITB .form-radio label,
    span.FITB .form-checkbox label,
    [data-blotid][data-type=checkbox] [data-labelid],
    [data-blotid][data-type=radiobox] [data-labelid],
    span.FITB-inptCont[data-type=checkbox] label,
    span.FITB-inptCont[data-type=radiobox] label {
      color: #000000;
    }
    .form-sub-label {
      color: #1a1a1a;
    }
  
    .supernova {
      background-image: url("main.css/contact_us_2.jpg");
      background-size: cover;
    }
    .supernova body {
      background: transparent;
    }
  
    .form-textbox,
    .form-textarea,
    .form-dropdown,
    .form-radio-other-input,
    .form-checkbox-other-input,
    .form-captcha input,
    .form-spinner input {
      background-color: #FFFFFF;
    }
  
    
    #stage {
      background-image: none;
    }
  
    .form-all {
      background-image: none;
    }
  
    .form-all {
      position: relative;
    }
    .form-all:before {
      content: "";
      background-image: url("https://www.jotform.com/uploads/guest_216d5e6964b56054/form_files/logo.63e44ee65b9bc2.67268670.png");
      display: inline-block;
      height: 120px;
      position: absolute;
      background-size: 300px 120px;
      background-repeat: no-repeat;
      width: 100%;
    }
    .form-all {
      margin-top: 140px !important;
    }
    .form-all:before {
      top: -130px;
      background-position: top center;
      left: 0;
    }
           
  .ie-8 .form-all:before { display: none; }
  .ie-8 {
    margin-top: auto;
    margin-top: initial;
  }
  
  /*PREFERENCES STYLE*//*__INSPECT_SEPERATOR__*/.form-all {
  -moz-box-sizing : border-box;
  -webkit-box-sizing : border-box;
  box-sizing : border-box;
  background-image : repeating-linear-gradient(135deg, #83b3db 0px, #83b3db 30px, transparent 30px, transparent 50px, #83b3db 50px, #84ADCB 80px, transparent 80px, transparent 100px);
  padding : 20px !important;
  border : none !important;
  border-radius: 0px;
}

.form-section.page-section {
  padding: 20px 20px 0 20px;
  background-color: white !important;
  display: block;
  position: relative;
  display: block;
}

.form-section li {
  display: block;
  width: 38%;
  margin-top: 0 !important;
  box-sizing: border-box;
}

.form-section li[data-type="control_textarea"] {
  display: block;
  width: 56%;
  position: absolute;
  top: 20px;
  right:20px;
}

.form-section li[data-type="control_button"] {
  width: 100%;
}

.form-section li .form-input-wide {
  width: 100% !important;
}

[data-type="control_button"] .form-buttons-wrapper {
  border: 0;
  padding: 0;
  margin-bottom: 20px;
  padding-right: 48px;
}

[data-type="control_button"] .form-buttons-wrapper button {
  background-color: #3d719b;
  border: 0;
}

.form-label {
  color: #666;
}



@media screen and (max-width:768px){
    .form-all {
        margin : 0 auto !important;
    }

    [data-type=control_fullname] .form-sub-label-container:first-child {
        margin-right : 0;
    }

}

@media screen and (max-width:480px){
  .form-section li {
    display: block;
    width: 100% !important;
    position: relative;
    top: unset !important;
    right: unset !important;
  }
  .form-section li[data-type="control_textarea"] {
    position: relative;
  }
  [data-type="control_button"] .form-buttons-wrapper {
    border: 0;
    padding: 0;
    margin-bottom: 20px;
    padding: 0;
  }
  .form-line {
    margin-left: 0;
    padding: 12px 0;
  }
}


    /* Injected CSS Code */
</style>



</head>
<body>
  <%- include("./partials/settings")  %>
  <%- include("./partials/header")  %>

        
        
<form action="/contact" method="post" name="form_230387554695569" id="230387554695569" accept-charset="utf-8" autocomplete="off">
  <div role="main" class="form-all">
    <div class="formLogoWrapper Center">
      <img loading="lazy" class="formLogoImg" src="main.css/logo.png" alt="Form Logo" height="120" width="300">
    </div>
    <style>
      .formLogoWrapper
      {
        display: inline-block;
        position: absolute;
        width: 100%;
      }

      .form-all:before
      {
        background: none !important;
      }

      .formLogoWrapper.Center
      {
        top: -130px;
        text-align: center;
      }
    </style>
    <ul class="form-section page-section">
      <li class="form-line jf-required" data-type="control_textbox" id="id_1"><label class="form-label form-label-top" id="label_1" for="input_1"> Name<span class="form-required">*</span> </label>
        <div id="cid_1" class="form-input-wide jf-required" data-layout="half"> <input type="text" id="input_1" name="name" data-type="input-textbox" class="form-textbox validate[required]" data-defaultvalue="" style="width:310px" size="310" value="" placeholder=" " data-component="textbox" aria-labelledby="label_1" required="" /> </div>
      </li>
      <li class="form-line jf-required" data-type="control_textbox" id="id_3"><label class="form-label form-label-top" id="label_3" for="input_3"> E-mail<span class="form-required">*</span> </label>
        <div id="cid_3" class="form-input-wide jf-required" data-layout="half"> <input type="text" id="input_3" name="Email" data-type="input-textbox" class="form-textbox validate[required, Email]" data-defaultvalue="" style="width:310px" size="310" value="" placeholder=" " data-component="textbox" aria-labelledby="label_3" required="" /> </div>
      </li>
      <li class="form-line" data-type="control_textbox" id="id_6"><label class="form-label form-label-top" id="label_6" for="input_6"> Your Business </label>
        <div  class="form-input-wide" data-layout="half"> <input type="text" id="input_6" name="Business" data-type="input-textbox" class="form-textbox" data-defaultvalue="" style="width:310px" size="310" value="" placeholder=" " data-component="textbox" aria-labelledby="label_6" /> </div>
      </li>
      <li class="form-line jf-required" data-type="control_textarea" id="id_5"><label class="form-label form-label-top" id="label_5" for="input_5"> Website summary <span class="form-required">*</span> </label>
        <div id="cid_5" class="form-input-wide" data-layout="full"> <textarea id="input_5" class="form-textarea " name="summary" style="width:648px;height:259px" data-component="textarea" required="" ></textarea> </div>
      </li>
      <li class="form-line" data-type="control_button" id="id_2">
        <div id="cid_2" class="form-input-wide" data-layout="full">
          <div data-align="right" class="form-buttons-wrapper form-buttons-right   jsTest-button-wrapperField"><button id="input_2" type="submit" class="form-submit-button submit-button jf-form-buttons jsTest-submitField" data-component="button" data-content="">Send Now!</button></div>
        </div>
      </li>
    
    </ul>
  </div>
  
 
 
  <div class="formFooter-heightMask" ></div>
  <div class="formFooter f6 branding21"style="background-color: rgba(var(--bs-dark-rgb))">
    <div class="formFooter-wrapper formFooter-leftSide"><a href="" target="_blank" class="formFooter-logoLink"><img class="formFooter-logo" src="main.css/logo.png" alt="Jotform Logo" style="height: 44px;"></a></div>
    <div class="formFooter-wrapper formFooter-rightSide"><span class="formFooter-text">Feel Free to contact me </span><a class="btn btn-primary" href="/home" target="_blank">To Home Page</a></div>
  </div>
</form>

</body>
</html>

<script src="main.js"></script>

