<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="shortcut icon" href="main.css/logo.png" />

    <title>Kasper</title>
  </head>

  <body>
    <button
      type="button"
      class="btn btn-primary btn-floating btn-lg"
      id="btn-back-to-top">
      <i class="fas fa-arrow-up"></i>
    </button>
    <%- include("./partials/settings") %>
    <div class="home">
      <%- include("./partials/header") %>

      <div class="content">
        <h2>
          Hello World! <br />
          We Are Kasper We Make Art.
        </h2>
        <p>
          Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
          Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur
          aliquet quam. Accumsan id imperdiet et, porttitor at sem. Mauris
          blandit aliquet elit, eget tincidunt.
        </p>
      </div>
    </div>
    <div class="container2">
      <div class="heading" id="Services">
        <h1>SERVICES</h1>

        <p>
          Curabitur arcu erat, accumsan id imperdiet et, <br />
          porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.
        </p>
      </div>
      <div class="SERVICES">
        <div class="feature">
          <div class="shape"><i class="fa-solid fa-cloud"></i></div>
          <div class="content2">
            <h2>Vorem amet intuitive</h2>
            <p>
              Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
              Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
              Curabitur aliquet quam.
            </p>
          </div>
        </div>
        <div class="feature">
          <div class="shape"><i class="fa-solid fa-shield-halved"></i></div>
          <div class="content2">
            <h2>Vorem amet intuitive</h2>
            <p>
              Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
              Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
              Curabitur aliquet quam.
            </p>
          </div>
        </div>
        <div class="feature">
          <div class="shape"><i class="fa-solid fa-gears"></i></div>
          <div class="content2">
            <h2>Vorem amet intuitive</h2>
            <p>
              Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
              Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
              Curabitur aliquet quam.
            </p>
          </div>
        </div>
        <div class="feature">
          <div class="shape"><i class="fa-solid fa-gift"></i></div>
          <div class="content2">
            <h2>Vorem amet intuitive</h2>
            <p>
              Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
              Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
              Curabitur aliquet quam.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="design">
      <div class="content-2">
        <h2>OUR DESIGN COMES WITH...</h2>
        <div class="options-2">
          <ul>
            <li><i class="fa-solid fa-check-square"></i>Responsive Design</li>
            <li>
              <i class="fa-solid fa-check-square"></i>Modern And Clean Design
            </li>
            <li><i class="fa-solid fa-check-square"></i>Clean Code</li>
            <li><i class="fa-solid fa-check-square"></i>Browser Friendly</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container3">
      <div class="heading" id="PORTOFOLIO">
        <h1>PORTOFOLIO</h1>

        <p>
          Curabitur arcu erat, accumsan id imperdiet et, <br />
          porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.
        </p>
      </div>
      <div class="SERVICES-2">
        <div class="header">
          <ul class="header-services">
            <li id="all">All</li>
            <li id="app">APP</li>
            <li id="photo">Photo</li>
            <li>WEB</li>
            <li>PRINT</li>
          </ul>
        </div>
      </div>

      <div class="content-3">
        <div class="photo" id="photo1">
          <img
            src="/main.css/small pics/4k-sharp-colorful-clouds-364l86a13wi6hkqg.jpg" />
          <div class="caption">
            <p>
              Awesome Image <br />
              <span>Photography</span>
            </p>
          </div>
        </div>
        <div class="photo" id="photo2">
          <img
            src="/main.css/small pics/4k-tiger-shaking-head-eusyagy1x6qxay6m.jpg" />
          <div class="caption">
            <p>
              Awesome Image <br />
              <span>Photography</span>
            </p>
          </div>
        </div>
        <div class="photo" id="photo3">
          <img
            src="/main.css/small pics/avatar-bioluminescent-foliage-qf1f9yz9vxq01tuk.jpg" />
          <div class="caption">
            <p>
              Awesome Image <br />
              <span>Photography</span>
            </p>
          </div>
        </div>
        <div class="photo" id="photo4">
          <img
            src="/main.css/small pics/cyberpunk-city-modern-streets-0zk6acmm6cas7umu.jpg" />
          <div class="caption">
            <p>
              Awesome Image <br />
              <span>Photography</span>
            </p>
          </div>
        </div>
        <div class="photo" id="photo5">
          <img
            src="/main.css/small pics/monochrome-eagle-photography-1e0ba4qv2ybalbxd.jpg" />
          <div class="caption">
            <p>
              Awesome Image <br />
              <span>Photography</span>
            </p>
          </div>
        </div>
        <div class="photo" id="photo6">
          <img
            src="/main.css/small pics/red-and-white-love-birds-me1hyf6gdzowt4ph.jpg" />
          <div class="caption">
            <p>
              Awesome Image <br />
              <span>Photography</span>
            </p>
          </div>
        </div>
        <div class="photo">
          <img
            src="/main.css/small pics/the-vast-universe-of-milky-way-4jjoabgyakrpb7fx.jpg" />
          <div class="caption">
            <p>
              Awesome Image <br />
              <span>Photography</span>
            </p>
          </div>
        </div>
        <div class="photo">
          <img
            src="/main.css/small pics/cyberpunk-city-street-level-sjpgaoablrkf6kf3.jpg" />
          <div class="caption">
            <p>
              Awesome Image <br />
              <span>Photography</span>
            </p>
          </div>
        </div>
      </div>
      <div class="More">
        <a href="#" target="_top" translate="yes">More</a>
      </div>
    </div>
    <div class="container4">
      <video autoplay muted loop id="myVideo">
        <source src="/main.css/Pexels Videos 1757800.mp4" type="video/mp4" />
      </video>

      <div class="caption-2">
        <h3>SUPER AWESOME VIDEO HERE</h3>
        <p>Its All You Need</p>
        <br />
        <span> See More </span>
      </div>
    </div>
    <div class="container5">
      <div class="heading" id="About">
        <h1>ABOUT US</h1>

        <p>
          Curabitur arcu erat, accumsan id imperdiet et, <br />
          porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.
        </p>
      </div>

      <img src="/main.css/pen-427516_1920.png" alt="" />
    </div>
    <div class="container6">
      <div class="content-6">
        <ul>
          <li>
            <i class="fa fa-folder-open" aria-hidden="true"></i>
            <h3>1.236</h3>

            <p>Coffee Drinks</p>
          </li>
          <li>
            <i class="fa fa-check" aria-hidden="true"></i>

            <h3>256</h3>

            <p>Completed Projects</p>
          </li>
          <li>
            <i class="fa fa-envelope-square" aria-hidden="true"></i>
            <h3>1,743</h3>

            <p>Mail Sent</p>
          </li>
          <li>
            <i class="fa-solid fa-award"></i>
            <h3>17</h3>

            <p>Awards Received</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="container7">
      <div class="TESTIMONIALS">
        <h3>TESTIMONIALS</h3>
        <p>
          Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
          Mauris blandit aliquet elit, eget tincidunt.
        </p>
      </div>
      <div class="SKILLS">
        <h3>SKILLS</h3>
        <p>
          Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
          Mauris blandit aliquet elit, eget tincidunt.
        </p>
      </div>
      <div class="people">
        <div class="p-icon">
          <img src="/main.css/skills-01.jpg" alt="" />
        </div>
        <div>
          <p>
            Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
            Mauris blandit aliquet elit, eget tincidunt.
          </p>
          <span> John Doe, CEO </span>
        </div>
        <div class="p-icon">
          <img src="/main.css/skills-02.jpg" alt="" />
        </div>
        <div>
          <p>
            Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
            Mauris blandit aliquet elit, eget tincidunt.
          </p>
          <span> John Doe, CEO </span>
        </div>
      </div>
      <div class="lang">
        <div class="cont-lang">
          <h3>ADOBE</h3>
          <span> </span>
          <div class="s10"></div>
        </div>
        <div class="cont-lang">
          <h3>HTML & CSS</h3>
          <span> </span>
          <div class="s15"></div>
        </div>
        <div class="cont-lang">
          <h3>JAVASCRIPT</h3>
          <span> </span>
          <div class="s25"></div>
        </div>
        <div class="cont-lang">
          <h3>PHP</h3>
          <span> </span>
          <div class="s10"></div>
        </div>
      </div>
    </div>
    <!-- About Us Starts -->
    <!-- Start of Heading  -->
    <div class="text-centerPayment">
      <div class="heading" id="pricing">
        <h1>ABOUT US</h1>

        <p>
          Curabitur arcu erat, accumsan id imperdiet et, <br />
          porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.
        </p>
      </div>
      <!-- end of Heading  -->
      <!-- Start of content  -->

      <div class="about_content">
        <div class="row">
          <div class="col-md-4 mb-4">
            <div class="card box-shadow">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Free</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">
                  $0 <small class="text-muted">/ mo</small>
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>10 users included</li>
                  <li>2 GB of storage</li>
                  <li>Email support</li>
                  <li>Help center access</li>
                </ul>
                <button
                  type="button"
                  class="btn btn-lg btn-block btn-outline-primary">
                  Sign up for free
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card box-shadow">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Pro</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">
                  $15 <small class="text-muted">/ mo</small>
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>20 users included</li>
                  <li>10 GB of storage</li>
                  <li>Priority email support</li>
                  <li>Help center access</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">
                  Get started
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card box-shadow">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Enterprise</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">
                  $29 <small class="text-muted">/ mo</small>
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>30 users included</li>
                  <li>15 GB of storage</li>
                  <li>Phone and email support</li>
                  <li>Help center access</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">
                  Contact us
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /////////////////// Section for contact //////////////////////
    //////////////////////// -->
    <section class="mb-5">
      <!--Section heading-->
      <h2 class="h1-responsive font-weight-bold text-center my-4">
        Contact us
      </h2>
      <!--Section description-->
      <p class="text-center w-responsive mx-auto mb-5">
        Do you have any questions? Please do not hesitate to contact us
        directly. Our team will come back to you within a matter of hours to
        help you.
      </p>

      <div class="row">
        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
          <form
            id="contact-form"
            name="contact-form"
            action="mail.php"
            method="POST">
            <!--Grid row-->
            <div class="row">
              <!--Grid column-->
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <input
                    type="text"
                    id="name"
                    name="name"
                    class="form-control" />
                  <label for="name" class="">Your name</label>
                </div>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <input
                    type="text"
                    id="email"
                    name="email"
                    class="form-control" />
                  <label for="email" class="">Your email</label>
                </div>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row">
              <div class="col-md-12">
                <div class="md-form mb-0">
                  <input
                    type="text"
                    id="subject"
                    name="subject"
                    class="form-control" />
                  <label for="subject" class="">Subject</label>
                </div>
              </div>
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row">
              <!--Grid column-->
              <div class="col-md-12">
                <div class="md-form">
                  <textarea
                    type="text"
                    id="message"
                    name="message"
                    rows="2"
                    class="form-control md-textarea"></textarea>
                  <label for="message">Your message</label>
                </div>
              </div>
            </div>
            <!--Grid row-->
          </form>

          <div class="text-center text-md-left">
            <a
              class="btn btn-primary"
              onclick="document.getElementById('contact-form').submit();"
              >Send</a
            >
          </div>
          <div class="status"></div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 text-center">
          <ul class="list-unstyled mb-0">
            <li>
              <i class="fas fa-map-marker-alt fa-2x"></i>
              <p>San Francisco, CA 94126, USA</p>
            </li>

            <li>
              <i class="fas fa-phone mt-4 fa-2x"></i>
              <p>+ 01 234 567 89</p>
            </li>

            <li>
              <i class="fas fa-envelope mt-4 fa-2x"></i>
              <p>contact@mdbootstrap.com</p>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
    </section>
    <!-- end of content  -->

    <!--Section: Contact v.2-->

    <!--Section: Contact v.2-->

    <script src="main.js"></script>
  </body>
</html>
