<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="style.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
   <link rel="shortcut icon" href="main.css/logo.png" >
   <link rel="stylesheet" href="/css/bootstrap.min.css" />
   <link rel="stylesheet" href="services.css">

    <title>Our Services</title>
</head>
<body> 
    <button type="button" class="btn btn-primary btn-floating btn-lg" id="btn-back-to-top">
        <i class="fas fa-arrow-up"></i>
      </button>
        <%- include("./partials/header")  %>
      
      <%- include("./partials/settings")  %>

    <div class="container2">
        <div class="heading" id="Services">
            <h1>
                What you will get ! 

            </h1>

            <p>Curabitur arcu erat, accumsan id imperdiet et,
                <br> porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.
            </p>
        </div>
        <div class="SERVICES">

            <div class="feature">
                <div class="shape"><i class="fa-solid fa-cloud"></i></div>
                <div class="content2">

                    <h2>
                        Vorem amet intuitive
                    </h2>
                    <p>
                        Curabitur arcu erat, accumsan id imperdiet et,
                        porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet
                        quam.
                    </p>
                </div>

            </div>
            <div class="feature">
                <div class="shape"><i class="fa-solid fa-shield-halved"></i></div>
                <div class="content2">

                    <h2>
                        Vorem amet intuitive
                    </h2>
                    <p>
                        Curabitur arcu erat, accumsan id imperdiet et,
                        porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet
                        quam.
                    </p>
                </div>

            </div>
            <div class="feature">
                <div class="shape"><i class="fa-solid fa-gears"></i></div>
                <div class="content2">

                    <h2>
                        Vorem amet intuitive
                    </h2>
                    <p>
                        Curabitur arcu erat, accumsan id imperdiet et,
                        porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet
                        quam.
                    </p>
                </div>

            </div>
            <div class="feature">
                <div class="shape"><i class="fa-solid fa-gift"></i></div>
                <div class="content2">

                    <h2>
                        Vorem amet intuitive
                    </h2>
                    <p>
                        Curabitur arcu erat, accumsan id imperdiet et,
                        porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet
                        quam.
                    </p>
                </div>

            </div>
            <div class="feature">
                <div class="shape"><i class="fa-solid fa-user-secret"></i></div>
                <div class="content2">

                    <h2>
                        Vorem amet intuitive
                    </h2>
                    <p>
                        Curabitur arcu erat, accumsan id imperdiet et,
                        porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet
                        quam.
                    </p>
                </div>

            </div><div class="feature">
                <div class="shape"><i class="fa-solid fa-lock"></i></i></div>
                <div class="content2">

                    <h2>
                        Vorem amet intuitive
                    </h2>
                    <p>
                        Curabitur arcu erat, accumsan id imperdiet et,
                        porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet
                        quam.
                    </p>
                </div>

            </div>
            
            
            
        </div>
       
    </div> 
   
<footer class="footer-distributed" id="contact">

			<div class="footer-left">

				<h3><img src="main.css/logo.png" alt="" srcset=""><span></span></h3>

				<p class="footer-links">
					<a href="home" class="link-1">Home</a>
					
					<a href="#">Portofolio</a>
				
					<a href="home">Pricing</a>
				
					<a href="#">About</a>
					
					<a href="erorr">Error PAge</a>
					
					<a href="contact">Contact</a>
				</p>

				<p class="footer-company-name"> Kasper © 2023</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>Fayium City</span> Fayuim, Egypt</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+1 101 196 5799</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="milito:abdo99792@gmail.com">abdo99792@gmail.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About the company</span>
					Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
				</p>

				<div class="footer-icons">

					<a href="facbook.com" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
					<a href="twitter.com"target="_blank"><i class="fa-brands fa-twitter"></i></a>
					<a href="linkedin.com"target="_blank"><i class="fa-brands fa-linkedin"></i></a>
					<a href="github"target="_blank"><i class="fa-brands fa-github"></i></a>

				</div>

			</div>

		</footer>
<script src="main.js"></script>

</body>
</html>